rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /mnemonics/{mnemonicId} {
        allow read, write: if isOwner(userId);
      }

      match /quizLogs/{quizLogId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /avatars/{avatarId} {
      allow read: if isSignedIn();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
